@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Authorized Access</h2>

    <p class="alert alert-success">Valid Token Not Required</p>
</div>